body {
    background-color: hotpink;
}

header {
    background-color: gold;
    display: flex;
	align-items: center;
	gap: 1rem;
}

h2 {
    background-color: blue;
    font-size: 30px;
}

h3 {
    background-color: red;
    font-size: 30px;
}

h4 {
    background-color: green;
    text-align: center;
    font-size: 30px;
}

#victoria {
    text-align: center;
}

Footer {
    background-color: gold;
}